<header>
    <nav>
        <a href="/" class="logo">Library</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/Books">Books</a></li>
            <li><a href="/Books/new">Add Book</a></li>
        </ul>
    </nav>
</header>