<h1>New Author</h1>
<form action="/authors" method="POST">
    <div class="form-fields">
        <%- include("_form_fields")%>
    </div>
    <div class="btns">
        <a class="btn" href="/authors">Cancel</a>
        <button class="btn" type="submit">Create</button>
    </div>
</form>